.btn-color{
    background-color: #082357;
    color: #fff;
    
  }

.btn-color:hover {
  background-color: #0e1c36;
  color: #ddd;
}
  
.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}